/* FantasyStyle.css */

.nav-link .active{
	color: white;
}

.starRow{
	border-bottom: 1px solid grey;
	/*border-bottom: 1px solid grey;*/
}

.newsRow{
	border-bottom: 1px solid grey;
	margin: 2.5rem;
	padding: 2.5rem;
}

.starBox{
	border: 2px solid darkgrey;
	border-radius: 5px;
	height: 330px;
	width: 200px;
	margin: 20px;
	padding: 10px;
	float:left;
	box-shadow: 8px 8px 3px #ddd;
	position: relative;
	top: 0px;
	transition: .3s;
}

.starBox:hover{
	top: -10px;
	border: 3px solid black;
	box-shadow: 15px 15px 5px #ddd;
}

.starImage {
	width:150px;
	max-height: 170px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
}

/* Smaller version for tooltip */
.starImage .small{
	width: 75px;
	max-height: 100px;
}

.eliminated{
	opacity: .25;
}

.leaderboard{
	width:75%;
	margin: auto;
}

.leaderboard td{
	text-align: center;
}

.leaderboard td:nth-child(1){
	cursor: pointer;
}

.leaderboard tr{
	height: 2em;
	color: black;
}

.leaderboard th{
	background: #343A40;
	color:white;
	padding: 5px;
}

.leaderboard tr:nth-child(even){
	background: #ddd;
}

.leaderboard tr:hover{
	background: darkgrey;
	color: white;
}

.starIcon {
	display: table-cell;
	float: left;
	text-align: center;
	line-height: 1.75rem; /* Makes the text centered --half height*/
	width: 2.75rem;
	height: 2.5rem;
	border-radius: .25rem;
	padding: .25rem;
	margin: .25rem;
	border: .5px solid black;
	cursor: default;
	/* transition: .3s; */
}

.starIcon:hover{
	border: 2px solid black;
	font-weight: bold;
}

.myTooltip{
	display: none;
	position: absolute;
	background: black;
	border-radius: 3px;
	color: white;
	padding: 5px;
	border: 5px solid black;
	/* max-width: 100px; */
}

/* CSS for Mobile */
@media only screen and (max-width:600px){
	.leaderboard{
		width: 95%;
		margin:auto;
	}

	.starIcon{
		font-size: .75em;
		/* width:1.75rem; */
		/* width: None; */
		width: 2rem;
		height: 2rem;
		padding: None;
		margin: None;
		line-height: None;
	}

	.newsRow{
		padding: 0;
		margin: 2rem 0;
	}
}
